<div class="container">
  <h1>Let's get things done!</h1>

  <div class="input-wrapper">
    <input type="text" [(ngModel)]="newTask" placeholder="Add a task..." />
    <button mat-raised-button color="primary" (click)="addTask()">Add Task</button>
  </div>

  <ul class="task-list">
    <li *ngFor="let task of tasks$ | async; let i = index">
      <button mat-icon-button color="warn" (click)="removeTask(i)">
        <mat-icon>delete</mat-icon>
      </button>
      {{ task }}
      <span class="check-icon">✔</span>
    </li>
  </ul>
</div>