<div class="container">
  <h1>Let's get things done!</h1>

  <div class="input-wrapper">
    <input type="text" [(ngModel)]="newTask" placeholder="Add a task..." />
    <button mat-raised-button color="primary" (click)="addTask()">Add Task</button>
  </div>

  <ul class="task-list">
    <li *ngFor="let task of tasks$ | async">
      <button mat-icon-button color="warn" (click)="removeTask(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
      {{ task.title }}
      <button mat-raised-button *ngIf="task.status === 'pending'" color="accent"
        (click)="updateTaskStatus(task.id, 'in-progress')">
        Put In Progress
      </button>
      <button mat-raised-button *ngIf="task.status === 'in-progress'" color="primary"
        (click)="updateTaskStatus(task.id, 'completed')">
        Complete
      </button>
    </li>
  </ul>
</div>